---
import Layout from "../../layouts/Layout.astro";
import { ExpenseList } from "../../components/ExpenseList";

if (!Astro.locals.user) {
  return Astro.redirect("/login");
}
---

<Layout>
  <h1 class="text-2xl font-bold text-white mb-6">Expenses</h1>
  <ExpenseList client:load />
</Layout>
